*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:lightseagreen;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex; 
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: lightseagreen;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
p{
    font-size: 2em;
    margin-bottom: 10px;
}
button{
    background: #ff6b35;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background: #ff5722;
}

.products {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.product {
    background: rgb(10, 87, 146);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 250px;
    transition: transform 0.3s;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product h3 {
    margin: 15px ;
    color: #becfe0;
}

.product p {
    font-size: 1.5em;
    font-weight: bold;
    color: lavender;
}
.about p{
     font-size: 25px;
    max-width: 600px;
}
.contact h2{
     font-size: 25px;
    max-width: 600px;
}
.contact p{
     font-size: 25px;
    max-width: 600px;
}